/* nav bar */

nav {
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

#high-scores {
  color: #6338a9;
}

#high-scores:hover {
  color: #4f2a89;
  text-decoration: none;
}

#timer {
  float: right;
}

/* Start Quiz Page */

.jumbotron {
  background-color: white;
}

.container {
  text-align: center;
  padding: auto;
}

h1,
p,
button {
  padding: 5px;
}

/* Button Styling */
.btn {
  background-color: #6338a9;
  border: 0 none;
  padding: auto 10px;
  color: white;
  /* Removes blue bootstrap halo */
  margin: 3px;
}

.btn:hover {
  background-color: #4f2a89;
  border: 0 none;
  color: white;
}

.btn:focus, .btn:active {
  background-color: #6338a9;
  color: white;
  outline: 0 !important;
  box-shadow: none;
}

/* Choices/Answer Div */

#choices {
  padding-left: 20px;
}

#choices,
#answer {
  text-align: left;
}

#answer,
#answer-text {
  font-style: italic;
}


