/* nav bar */

nav {
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

#high-scores {
  color: #6338A9;  
}

#high-scores:hover {
  color: #4F2A89;
  text-decoration: none;
}

#timer {
  float: right;
}

/* Start Quiz Page */



.jumbotron {
  background-color: white;
}

.container {
   text-align: center;
   padding: auto;
}

h1, p, button {
  padding: 5px;
}

/* Button Styling */
.btn {
  background-color: #6338A9;
  border: 0 none;
  padding: auto 10px;
  color: white;
}

.btn:hover {
    background-color: #4F2A89;
    border: 0 none;
    color: white;
}

#btn1, #btn2, #btn3, #btn4 {
  margin: 3px;
}

#choices, #wrongAnswer {
  margin-left: 30px;
  text-align: left;
}

#wrongAnswer {
  padding-left: 30px;
  padding-right: 30px;
  font-style: italic;
}